{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Lab5App/style.css'%}">
    <title>Default page</title>
</head>
<body>
    <div>
        <h1>List of people:</h1>

    <ul>
        {% for person in people%}
        <li>{{person.name}}</li>
        {%endfor%}
    </ul>
    </div>
    <a href="{%url 'Lab5App:add'%}">Add a person</a>
</body>
</html>